#btn_contact {
    text-decoration: none;
    background-color: rgb(49, 49, 92);
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    transition: ease 0.20s;
    cursor: pointer;
    font-size: 20.6px;
    font-weight: 600;
    padding: 12px 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);    
    animation: pulseBtn ease-in 1.6s infinite;

    &:hover {
        padding: 13.5px 27px;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.699) ;   
        background-color: rgb(128, 128, 207);
    }
}


@keyframes pulseBtn {
    0% {
        box-shadow: 0px 0px 5px rgba(217, 217, 255, 0.692) ;
    }
    50% {
        box-shadow: 0px 0px 10px rgba(0, 110, 255, 0.678);
    }
    100% {
        transform: translateX(0);
        box-shadow: 0px 0px 5px rgba(217, 217, 255, 0.692) ;
    }
}



@media screen and (max-width: 768px) {
    #btn_contact {
        padding: 11.65px 28.65px;
    }
}