header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px;
}

header > .logo {
    font-size: 17.5px;
    color: rgb(28, 41, 78);
    margin-bottom: 10px;
}

header > nav {
    display: none;
}

header > #menubar {
    font-size: 25px;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    header > #menubar {
        display: none;
    }
    

   header > nav {
       display: block;
   }
}

@media screen and (min-width: 950px) {

    header > nav > ul {
        gap: 50px;
    }

    #btn_contact {
        margin-right: 5px;
    }
}

