header {
    background-color: rgb(236, 237, 253);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header > .logo {
    font-size: 17.5px;
    color: rgb(28, 41, 78);
    margin-bottom: 14.5px;
}

#btn_contact {
    display: none;
}

header > nav > ul {
    background-color: rgba(216, 219, 246, 0.775);
    width: 55%;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px;
    position: absolute;
    top: 84.5px;
    padding:  11px 155px 0px 6px;
    left: 0px;
    display: flex;
    height: 60vh;
    gap: 1.5rem;
    flex-flow: column nowrap;
}

header > #menubar {
    font-size: 25px;
    margin-top: -5.5px;
    cursor: pointer;
}
.iconChangeTheme {
    display: none;
}


@media screen and (min-width: 768px) {
    header > #menubar {
        display: none;
    }

    .iconChangeTheme {
        display: block;
    }

    #btn_contact  {
        display: block;
    }

   header > nav {
       display: block;
   }

   header > nav > ul { 
      position:sticky;
      background-color: transparent;
      display: flex;
      gap: 50px;
      flex-flow: row nowrap;
    }
}

@media screen and (min-width: 950px) {
    

    #btn_contact {
        margin-right: 5px;
    }
}

