#main-header {
    background-color: rgb(224, 226, 245);
    position: fixed;
    top: 0;
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16.6px;

}

#main-header > .logo {
    font-size: 17.5px;
    color: rgb(28, 41, 78);
    margin-bottom: 14.5px;
}

#main-header > #nav-desktop {
    list-style: none;
    text-align: center;
    display: none;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding: 7px;
    border-radius: 10px;
    font-weight: 550;
    transition: ease 0.27s;
}

nav > ul > li > a:hover {
    background-color: rgba(17, 17, 97, 0.183);
}

#nav-mobile {
    text-align: center;
    position: absolute;
    top: 76px;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(236, 237, 253);
}

#nav-mobile > #ul-mobile{
    margin-bottom: 30px;
    display: flex;
    gap: 25px;
    flex-flow: column nowrap;
}

#nav-mobile > #ul-mobile > li > a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

#main-header > #menubar {
    font-size: 25px;
    padding: 7px;
    margin-top: -2.2px;
    cursor: pointer;
    margin-right: -10px;
}

.iconChangeTheme {
    display: none;
}

@media screen and (min-width: 768px) {
    #main-header > #menubar {
        display: none;
    }

    .iconChangeTheme {
        display: block;
    }

   #main-header > #nav-desktop {
       display: flex;
   }

   #main-header > nav > #ul-desktop { 
      background-color: transparent;
      display: flex;
      gap: 52px;
      flex-flow: row nowrap;
    }
}