
nav > ul {
    display: flex;
    gap: 30px;
}
nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 1.1em;
    padding: 7px;
    border-radius: 10px;
    font-weight: 550;
    transition: ease 0.27s;
}

nav > ul > li > a:hover {
    background-color: rgba(17, 17, 97, 0.183);
}
