
footer {
    background-image:linear-gradient( to bottom, rgb(195, 205, 236), rgb(250, 250, 250));
    margin-top: 300px;
    text-align: center;
}

footer > #services_info { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-flow: column nowrap;
    padding-bottom: 90px;
    font-weight: 500;
    font-size: 20px;
}

footer > #services_info > p {
    transition:  ease 0.70s;
    border-bottom: 3px solid transparent;    
    width: 160px;
}

footer > #services_info  > p:hover {
    width: 250px;
    border-bottom: 3px solid rgb(56, 56, 236);
}

footer > #services_info > span {
    font-size: 25px;
    border-bottom: 3px solid orange;
    padding-top: 20px;
}

footer > #area_icons_contact {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
    padding: 30px 30px;
}

footer > #area_icons_contact > a > #instagram_icon {
    color: rgb(37, 92, 243);
}

footer > #area_icons_contact > a > #yt_icon {
    color: red;
}

footer > #area_icons_contact > a > #linkedin_icon {
    color: rgb(109, 109, 255);
}
 
footer > #area_icons_contact > a > #github_icon {
    color: rgb(53, 66, 203);
}

footer > #area_icons_contact > a > #email_icon {
    color: rgb(40, 35, 35);
}

footer > #area_icons_contact > .icones_contact_link .icons_contact {
    transition:  ease 0.6s;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    padding-bottom: 8px;
}
footer > #area_icons_contact > .icones_contact_link .icons_contact:hover {
    border-bottom: 4px solid rgb(0, 0, 255);
}


footer > #area_icons_contact > .icons_contact:hover {
    border-bottom: 3px solid rgb(67, 115, 248);
}

footer > #arrow_indicador {
    display: flex;
    align-items: center;
    color: rgba(31, 37, 70, 0.873);
    justify-content: center;
    gap: 83px;
    margin-top: 80px;
}


@media screen and (min-width:768px) {
    footer > #services_info > p {
        width: 195px;
        font-size: 25px;
    }

    footer > #arrow_indicador {
        gap: 310px;
    }
}