footer {
    box-shadow: 0px 0px 4px rgba(186, 202, 247, 0.918);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 620px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.075), rgba(2, 6, 16, 0.989)), url(../../assets/img/laptop_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 300px;
    text-align: center;
    border-top-left-radius: 40px;
    position: relative;
    top: 705px;
    z-index: 3;
    border-top-right-radius: 40px;
}

footer > #services_info { 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    flex-flow: column nowrap;
    padding-bottom: 90px;
    font-weight: 500;
    font-size: 32px;
}

footer > #services_info > p {
   
    border-bottom: 3px solid blue;
    color: white;
    font-size: 33px;
    padding-bottom: 30px; 
}

footer > #services_info  > .text_footer {
    margin: 5px;
    border-radius: 4px;
    padding: 4px;
}

footer > #services_info > span {
    color: rgb(244, 244, 252);
    font-size: 26px;
    border-bottom: 3px solid orange;
}

footer > #area_icons_contact {
    width: 90%;
    margin-top: 135px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
    padding: 30px 5px;
}

footer > #area_icons_contact > a > #instagram_icon {
    color: rgb(37, 92, 243);
}

footer > #area_icons_contact > a {
    transition: 0.66s;
}
footer > #area_icons_contact > a:hover {
    scale: 1.25;
}

footer > #area_icons_contact > a > #yt_icon {
    color: red;
}

footer > #area_icons_contact > a > #linkedin_icon {
    color: rgb(109, 109, 255);
}
 
footer > #area_icons_contact > a > #github_icon {
    color: rgb(53, 66, 203);
}

footer > #area_icons_contact > a > #email_icon {
    transition: ease-in-out 0.3s;
    color: rgb(255, 255, 255);
}

footer > #area_icons_contact > a > #email_icon:hover {
    color: rgb(193, 193, 247);
}

footer > #area_icons_contact > .icones_contact_link .icons_contact {
    transition:  ease 0.6s;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    padding-bottom: 8px;
}

footer > #area_icons_contact > .icones_contact_link .icons_contact:hover {
    border-bottom: 4px solid rgb(0, 0, 255);
}


footer > #area_icons_contact > .icons_contact:hover {
    border-bottom: 3px solid rgb(67, 115, 248);
}

@media screen and (max-width:768px) {
    footer {
       height: 100%;
       top: 696px;
    }
}