#projects-area {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(13, 25, 58, 0.466);
    min-height: 600px;
    border-top-left-radius: 14.5px;
    border-top-right-radius: 14.5px;
    background-color: rgb(44, 28, 60);
    padding: 60px 20px;
}

/* HEADER */

#projects-header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-header h3 {
    border-bottom: 5px solid rgb(89, 89, 255);
    font-size: 35px;
    padding-bottom: 5px;
    border-radius: 3.6px;
}

/* CONTAINER DOS CARDS */

.card-projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* CARD */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 300px;
    max-width: 350px;
    height: 370px;
    border-radius: 8px;
    transition: all 0.4s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: saturate(110%);
}

/* IMAGEM */

.card-img {
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0px 0px 13px rgba(44, 44, 82, 0.349);
}

/* BACKGROUNDS */

.img-project-1 {
    background-image: url(../../assets/img/image.png);
}

.img-project-2 {
    background-image: url(../../assets/img/fundo-azul-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg);
}

.img-project-3 {
    background-image: url(../../assets/img/image\ copy.png);
}

.img-project-4 {
    background-image: url(../../assets/img/{A1BEE2E5-B7E6-41CD-BE1A-38583C809096}.png);
}

/* TÍTULO + BOTÃO */

.tittle-project {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle-project p {
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 4px solid rgb(133, 133, 248);
    padding-bottom: 3px;
}

/* BOTÃO */

.btn-see-project {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 145, 0);
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px 16px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

.btn-see-project:hover {
    background-color: rgb(255, 183, 0);
    transform: scale(1.05);
}

/* MOBILE */

@media screen and (max-width: 768px) {

    #projects-area {
        padding: 50px 15px;
    }

    .card {
        max-width: 100%;
        height: 350px;
    }

    .tittle-project {
        flex-direction: column;
        gap: 15px;
    }

}