#projects-area {
    width: 100%;
    box-shadow: 0px 0px 5px rgba(13, 25, 58, 0.466);
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    top: 1740px;
    z-index: 2;
    background-color: rgb(44, 28, 60);
}

#projects-area > #projects-header {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

#projects-area > #projects-header > h3 {
    border-bottom: 3px solid blue;
    font-size: 35px;
    font-weight: 450;
}

.card-projects {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    height: 94.5%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-flow: row nowrap;
    gap: 18px;
}

.card-projects > .card {
    width: 30%;
    height: 50%;
    background-color: rgb(91, 78, 103);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.293);
    border-radius: 6px;
    transition: ease 0.75s;
}

.card-projects > .card:hover {
    cursor: pointer;
    scale: 1.07;
    background-color: orange;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.403);
}

@media screen and (max-width:768px) {
    #projects-area {
        top: 1655px;
        height: 745px;
    }
    .card-projects {
        height: 80%;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 30px;
    }
    .card-projects > .card {
        height: 100%;
        width: 66%;
    
    }

    
}