main {
    margin-top: 135px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


main > .infoContent {
    display: flex;
    padding: 5px;
    justify-content: center;
    flex-flow: column;
    margin-top: 180px;
    align-items: center;
}

.text_about_me {
    width: 325px;
}

.text_about_me > #icon-man-people {
    width: 160px;
    height: 160px;

    margin-left: 94px;
}

.text_about_me > h3 {
    font-size: 25.3px;
    margin-bottom: 15.5px;
}
.text_about_me > p {
    margin-bottom: 33px;
    font-size: 21.77px;
}


#arrow_me {
    color: rgb(103, 90, 250);
    font-size: 36px;
    margin-left: 12.45px;
    margin-bottom: -8.5px;
}


#transition_for_skills {
    background-color: transparent;
    margin-top: 90px;
    margin-bottom: -230px;
    display: flex;
    justify-content: center;
    width: 40%;
    align-items: center;
}


@media screen and (min-width:768px) {

    
    .text_about_me {
        width: 470px;
    }
    .text_about_me > #icon-man-people {
        width: 240px;
        height: 240px;
        margin-left: 88px;
    } 
    
    .text_about_me > h3 {
        margin-left: -21px;
        font-size: 33.3px;
    }

}