#skills_container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column;
    background-image:url(../../assets/img/vetor-tech.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(57, 53, 53);
    background-size: cover;
    border-radius: 10px;
    width: 95.5%;
    height: 440px;
    margin-top: 285px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.376);
}

.logo_skills > h3 {
    text-align: center;
    width: 120px;
    border-bottom: 3px solid rgb(79, 52, 185);
    margin-bottom: 260px;
    border-radius: 15px;
    color: rgb(6, 6, 6);
    background-color: rgba(136, 136, 239, 0.921);
    font-size: 30px;
    transition: ease 0.40s;
}

.logo_skills > h3:hover {
    width: 200px;
}

#area_skills {
    background-color: rgba(77, 78, 85, 0.953);
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 26px;
}

.icons_skills {
    font-size: 56px;
    padding-bottom: 7px;
    transition: ease-in-out 0.3s;
    border-bottom: 3px solid transparent;
    border-radius: 10px;
}
.icons_skills:hover {
    background-color: rgba(40, 38, 46, 0.462);
    border-bottom: 3px solid rgb(84, 84, 246);
}
#icon_html {
    color: red;
}

#icon_css {
    color: rgb(105, 105, 190);
}

#icon_js {
    color: rgb(242, 250, 8);
    width: 37.67px;
}

#icon_react {
    color:rgb(128, 150, 221);
}

#icon_git {
    color: rgb(245, 85, 85);
}
#box-github {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#arrow_to_github {
    font-size: 44px;
    margin-top: -45px;
    padding-bottom: 18px;
}
#icon_github {
    cursor: pointer;
    color: black;
    text-decoration: none;
}



@media screen and (min-width:768px) {

    #skills_container {
        width: 700px;
        height: 425px;
        margin-top: 274px;
    }

    .logo_skills {     
        font-size: 33px;
    }

    #area_skills {
        gap: 75px;
    }

    .icons_skills {
        font-size: 48px;
}

    #arrow_to_github {
        font-size: 48.5px;
    }
}